﻿@model ConverterDeevakonda.Models.Converter

<style>
    .temp{
        background-color:#b6ffd3;
        margin-top:30px;
        box-shadow:10px 10px 5px #888888;
        padding:20px;
    }


</style>


<div class="temp" id="divtemp">
    <h3 style="text-align:center;margin-top:10px">@ViewData["Title"]</h3>
    <div class="container" style="padding:30px;margin-top:20px;">
        <div class="row">

            <div class="col-md-6 col-md-offset-4">
                <form asp-controller="Home" asp-action="Convert" method="post" role="form">

                    <div class="form-group">
                        <label asp-for="ZipCode" class="control-label"></label>
                        <input asp-for="ZipCode" class="form-control" />
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Temperature"></label>
                        <input asp-for="Temperature" class="form-control" />
                        <span asp-validation-for="Temperature" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Convert" class="btn btn-info" />
                    </div>

                </form>

            </div>
        </div>
    </div>

    <h3 style="text-align:center">@ViewData["Result"]</h3>
</div>


